// app global css in Sass form

.q-tooltip--style
  background-color: $dark-alt-3 !important

.user-select-none
  user-select: none

.lighter-negative.text-negative, .lighter-negative .text-negative
    color: lighten($negative, 30) !important
